<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
        <link rel="shortcut icon" href="favicon.ico" />
        
		<title>
			<block name="title">蛟龙服装有限责任公司</block>
        </title>
        <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.css">
		<block name="head">
			
		</block>
		<link rel="stylesheet" href="__PUBLIC__/home/css/main.css">
		<style type="text/css">
			
		</style>
		<!--[if lt IE 9]>
	      <script src="__PUBLIC__/common/js/html5shiv.js"></script>
	      <script src="__PUBLIC__/common/js/respond.min.js"></script>
	    <![endif]-->
		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	</head>
	<body>
		
	    <div id="content">
            <block name="body"></block>
        </div>

        <script src="__PUBLIC__/home/js/jquery-1.11.0.min.js"></script> 
		<script src="__PUBLIC__/home/js/bootstrap.min.js"></script> 
		<script type="text/javascript">
			$(function(){
				
			});
		</script>
        <block name="script"></block>
	</body>
</html>

